### import

In [1]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

import os


import re
import datetime
from datetime import datetime, timedelta

In [2]:
# проверка на работу в "google colab" или "локально"

if 'sample_data' in os.listdir():
    project_dir = r'/content/drive/My Drive/Colab Notebooks/module_4/'
    print('Обнаружена среда выполнения Google Colab.')
    print('project_dir =>', project_dir)
else:
    project_dir = ''
    print('НЕ обнаружена среда выполнения Google Colab. Выбран режим локальной работы.')

Обнаружена среда выполнения Google Colab.
project_dir => /content/drive/My Drive/Colab Notebooks/module_4/

In [3]:
RANDOM_SEED = 1314

### Функции обработки

### DATA

In [4]:
# Выведем листинг проектного каталога
for dirname, _, filenames in os.walk(project_dir):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/content/drive/My Drive/Colab Notebooks/module_4/AAQ_flights.csv
/content/drive/My Drive/Colab Notebooks/module_4/AAQ_profit_model.pdf
/content/drive/My Drive/Colab Notebooks/module_4/u5_analysis_of_flights.ipynb

In [5]:
flight = pd.read_csv(project_dir + 'AAQ_flights.csv')
flight.sample(9)

     flight_id  sched_year  ...  avg_price_class1  total_amount
65      136869        2017  ...           18900.0      765300.0
7       136819        2017  ...           18900.0      759000.0
25      136316        2017  ...           36600.0     1886000.0
61      136178        2017  ...           36600.0     1434600.0
108     136403        2017  ...           36600.0     1873800.0
53      136383        2017  ...           36600.0     1493200.0
81      136284        2017  ...           36600.0     1677400.0
58      136678        2017  ...           18900.0      631200.0
49      136560        2017  ...               NaN           NaN

[9 rows x 30 columns]

In [6]:
flight.columns

Index(['flight_id', 'sched_year', 'sched_month', 'sched_day',
       'departure_airport', 'flight_no', 'arrival_airport',
       'scheduled_departure', 'scheduled_arrival', 'delay_departure', 'status',
       'flight_duration', 'city', 'timezone', 'actual_departure',
       'actual_arrival', 'delay_arrival', 'aircraft_code', 'manufacturer',
       'board_model', 'flights_range_km', 'class2', 'ticket_count2',
       'amount_sold2', 'avg_price_class2', 'class1', 'ticket_count1',
       'amount_sold1', 'avg_price_class1', 'total_amount'],
      dtype='object')

In [7]:
len(flight.columns)

30

In [8]:
# количество направлений
flight['city'].value_counts()

Moscow          59
Belgorod        59
Novokuznetsk     9
Name: city, dtype: int64

In [9]:
# количество уникальных рейсов
flight['flight_no'].value_counts()

PG0252    59
PG0480    59
PG0194     9
Name: flight_no, dtype: int64

In [10]:
flight['board_model'].value_counts()

737-300         68
Superjet-100    59
Name: board_model, dtype: int64

In [11]:
flight['flight_duration'].value_counts().sort_values(ascending=False)

00:50:00    34
01:40:00    27
01:39:00    17
00:51:00    15
00:49:00    10
01:41:00     8
01:38:00     4
05:10:00     2
01:42:00     2
05:04:00     1
01:43:00     1
05:11:00     1
05:12:00     1
05:05:00     1
04:59:00     1
05:02:00     1
05:07:00     1
Name: flight_duration, dtype: int64


[Цены на авиатопливо в 2017](https://favt.gov.ru/dejatelnost-ajeroporty-i-ajerodromy-ceny-na-aviagsm-statistika-aviagsm/?id=3241)

Анапа (будем считать, что все заправки проводились в этом городе)
*  декабрь: 47101 руб\тонна
*  январь: 41435 руб\тонна
*  февраль: 39553 руб\тонна

In [12]:
# расход топлива за 1 час полета в кг
fuel_consumption = {'SU9': 1.7, '733': 2.4}

# стоимость топлива за 1000 кг
fuel_cost_2017 = {12: 47101, 1: 41435, 2: 39553}

# количество мест в самолете по классам обслуживания
cabin_size = {'SU9': {'Economy': 85, 'Business':12 },
              '733': {'Economy': 118, 'Business':12 }}

In [13]:
cabin_size['SU9']['Economy'], cabin_size['SU9']['Business']

(85, 12)

In [36]:
cabin_size['733']['Economy'], cabin_size['SU9']['Business']

(118, 12)

In [37]:
flight['flight_hour'] = flight['flight_duration'].apply(lambda x: re.findall(r"\d+", str(x)))
flight['flight_hour'] = flight['flight_hour'].apply(lambda x: round(float(x[0]) + float(x[1])/60, 3))

In [39]:
# Далее заполняем пропуски
flight.fillna(0, inplace=True)

In [40]:
flight['flight_costs'] = flight.apply(lambda row: row['flight_hour'] * fuel_cost_2017[row['sched_month']] * fuel_consumption[row['aircraft_code']], axis=1 )

In [41]:
flight['flight_profit'] = flight['total_amount'] - flight['flight_costs']

flight['flight_profit'] = flight['flight_profit'].apply(lambda x: int(x))

flight['total_amount'] = flight['total_amount'].apply(lambda x: int(x))

flight['flight_profit'] = flight['flight_profit'].apply(lambda x: int(x))

In [42]:
# проблемы с длительностью 'sched_month', 'sched_month',
fl = flight[['flight_id',  'flight_no', 'flight_duration', 'city',
        'aircraft_code', 'total_amount', 'flight_hour', 'flight_costs', 'flight_profit' ]]

fl.sample(15, random_state=RANDOM_SEED)

     flight_id flight_no  ... flight_costs flight_profit
93      136130    PG0252  ...  156629.8800       1399970
106     136320    PG0252  ...  158243.6424       1386156
100     136268    PG0252  ...  159762.4776       1516437
9       136645    PG0480  ...   59873.5750        573126
109     136511    PG0194  ...  490488.8424       -490488
63      136226    PG0252  ...  165773.1480       1720226
61      136178    PG0252  ...  164082.6000       1270517
53      136383    PG0252  ...  169054.8000       1324145
71      136672    PG0480  ...   56011.0033        702988
12      136209    PG0252  ...  165773.1480       1449426
3       136458    PG0252  ...  164082.6000       1404717
31      136172    PG0252  ...  164082.6000       1453517
23      136366    PG0252  ...  164082.6000       1363317
36      136471    PG0252  ...  165773.1480       1597026
102     136452    PG0252  ...  158243.6424       1444756

[15 rows x 9 columns]

In [43]:
len(fl.columns), fl.columns

(9,
 Index(['flight_id', 'flight_no', 'flight_duration', 'city', 'aircraft_code',
        'total_amount', 'flight_hour', 'flight_costs', 'flight_profit'],
       dtype='object'))

In [63]:
fl.groupby(['city'])['total_amount'].sum()

city
Belgorod        41915700
Moscow          96912000
Novokuznetsk           0
Name: total_amount, dtype: int64

In [97]:
fl[fl['total_amount'] <= 0].groupby(['city'])['flight_no'].count()

Series([], Name: flight_no, dtype: int64)

In [73]:
fl.query('total_amount <= 0')

     flight_id flight_no  ... flight_costs flight_profit
4       136546    PG0194  ...  500501.6520       -500501
19      136523    PG0194  ...  517108.8000       -517108
34      136540    PG0194  ...  508854.9480       -508854
49      136560    PG0194  ...  505473.8520       -505473
64      136544    PG0194  ...  503882.7480       -503882
79      136514    PG0194  ...  473022.2376       -473022
94      136567    PG0194  ...  492007.6776       -492007
109     136511    PG0194  ...  490488.8424       -490488
124     136513    PG0194  ...  490488.8424       -490488

[9 rows x 9 columns]

In [74]:
fl = fl.query('total_amount > 0')
fl.shape

In [89]:
# fl['flight_profit'].idxmin(axis="columns")

fl.iloc[fl['flight_profit'].idxmin()]

flight_id            136900
flight_no            PG0480
flight_duration    00:51:00
city               Belgorod
aircraft_code           SU9
total_amount         765300
flight_hour            0.85
flight_costs        57154.1
flight_profit        708145
Name: 67, dtype: object

In [78]:
fl['flight_profit'].min()

473450

In [79]:
fl['flight_profit'].max()

1720226

In [99]:
fl.groupby('flight_no')['flight_profit'].sum()

flight_no
PG0252    87360076
PG0480    38521815
Name: flight_profit, dtype: int64