# Start

In [1]:
import warnings; warnings.simplefilter('ignore')

import random

import pandas as pd
import numpy as np
import os
import re

import matplotlib.pyplot as plt
import seaborn as sns
import cufflinks as cf
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

project_dir = r'/content/drive/My Drive/Colab Notebooks/'

%matplotlib inline

## 11.1 Пропуски

In [2]:
os.listdir(project_dir + 'data/u3/')

['log.csv', 'users.csv']

In [3]:
log = pd.read_csv(project_dir + 'data/u3/' + 'log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']

log.sample(9)

                              user_id                  time    bet  win
448  Запись пользователя № - user_984  [2019-02-17 16:44:12    NaN  NaN
704  Запись пользователя № - user_963  [2019-03-19 23:44:53  100.0  NaN
628  Запись пользователя № - user_922  [2019-03-09 21:06:50  400.0  NaN
409  Запись пользователя № - user_912  [2019-02-13 21:51:31    NaN  NaN
446  Запись пользователя № - user_985  [2019-02-17 10:30:34  100.0  NaN
300  Запись пользователя № - user_916   [2019-02-02 6:15:01    NaN  NaN
699  Запись пользователя № - user_927  [2019-03-18 19:37:29  200.0  NaN
307  Запись пользователя № - user_918  [2019-02-03 22:14:22    NaN  NaN
863  Запись пользователя № - user_906  [2019-04-06 12:58:57  900.0  NaN

In [4]:
users = pd.read_csv(project_dir + 'data/u3/' + 'users.csv', sep='\t', encoding='koi8_r')
#users.columns
users.columns = ['user_id','email','geo']

users.sample(9)

     user_id                   email              geo
11  User_983     Boxfixiteicloud.com       Ставрополь
20  User_919  Chikkaverle@icloud.com        Хабаровск
74  User_997     Prestigenp@inbox.ru        Ярославль
23  User_949        DirtyChiri@ya.ru       Красноярск
79  User_914     Sandpoist@gmail.com          Воронеж
98  User_965     Visuareda@yahoo.com          Воронеж
39  User_972     Haystenvi@yandex.ru  Санкт-Петербург
81  User_944    Seenomvura@yahoo.com     Екатеринбург
52  User_904    Kryptoburs@yahoo.com        Ярославль

In [5]:
log['time'].isna().sum()

15

In [6]:
log['user_id'].isna().sum()

0

In [7]:
# log.dropna(axis=1, subset=[log.columns])
log2 = log
log2.dropna(axis=0)

                              user_id  ...        win
14   Запись пользователя № - user_917  ...  1987653.0
29   Запись пользователя № - user_942  ...  9876543.0
151  Запись пользователя № - user_982  ...     4749.0
189  Запись пользователя № - user_964  ...     4667.0
205  Запись пользователя № - user_931  ...     4319.0
..                                ...  ...        ...
967  Запись пользователя № - user_975  ...     6108.0
971  Запись пользователя № - user_912  ...    31799.0
972  Запись пользователя № - user_926  ...    30244.0
976  Запись пользователя № - user_970  ...    30691.0
991  Запись пользователя № - user_965  ...     6927.0

[133 rows x 4 columns]

In [8]:
log.columns

Index(['user_id', 'time', 'bet', 'win'], dtype='object')

In [9]:
log2 = log
log2.dropna(axis=1, subset=log2.index)

                              user_id
0    Запись пользователя № - user_919
1    Запись пользователя № - user_973
2    Запись пользователя № - user_903
3    Запись пользователя № - user_954
4    Запись пользователя № - user_954
..                                ...
995  Запись пользователя № - user_984
996                            #error
997                            #error
998                            #error
999                            #error

[1000 rows x 1 columns]

## 11.2 Дубли

In [10]:
log2 = log
log2.drop_duplicates(subset=['user_id', 'time'])

                              user_id                  time      bet     win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN     NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN     NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN     NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN     NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN     NaN
..                                ...                   ...      ...     ...
991  Запись пользователя № - user_965  [2019-04-20 12:55:41    800.0  6927.0
992  Запись пользователя № - user_967  [2019-04-20 14:59:36  10154.0     NaN
993  Запись пользователя № - user_973  [2019-04-20 17:09:56  10254.0     NaN
994  Запись пользователя № - user_977  [2019-04-20 18:10:07  10354.0     NaN
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0     NaN

[986 rows x 4 columns]

## 11.3 Преобразование к DateTime

In [11]:
log.dropna(inplace=True)

In [12]:
log

                              user_id  ...        win
14   Запись пользователя № - user_917  ...  1987653.0
29   Запись пользователя № - user_942  ...  9876543.0
151  Запись пользователя № - user_982  ...     4749.0
189  Запись пользователя № - user_964  ...     4667.0
205  Запись пользователя № - user_931  ...     4319.0
..                                ...  ...        ...
967  Запись пользователя № - user_975  ...     6108.0
971  Запись пользователя № - user_912  ...    31799.0
972  Запись пользователя № - user_926  ...    30244.0
976  Запись пользователя № - user_970  ...    30691.0
991  Запись пользователя № - user_965  ...     6927.0

[133 rows x 4 columns]

In [13]:
log.time = log.time.apply(lambda x: x[1:])
log['time']

14      2019-01-02 8:57:36
29     2019-01-04 13:59:42
151    2019-01-16 21:54:22
189    2019-01-21 18:34:44
205     2019-01-22 5:26:59
              ...
967    2019-04-19 22:25:15
971    2019-04-20 10:35:49
972    2019-04-20 10:35:50
976    2019-04-20 10:35:54
991    2019-04-20 12:55:41
Name: time, Length: 133, dtype: object

In [14]:
log.time = log.time.apply(lambda x: pd.to_datetime(x))
log['time']

14    2019-01-02 08:57:36
29    2019-01-04 13:59:42
151   2019-01-16 21:54:22
189   2019-01-21 18:34:44
205   2019-01-22 05:26:59
              ...
967   2019-04-19 22:25:15
971   2019-04-20 10:35:49
972   2019-04-20 10:35:50
976   2019-04-20 10:35:54
991   2019-04-20 12:55:41
Name: time, Length: 133, dtype: datetime64[ns]

In [15]:
log['time'].max()

Timestamp('2019-04-20 12:55:41')

In [16]:
log['time'].head()

14    2019-01-02 08:57:36
29    2019-01-04 13:59:42
151   2019-01-16 21:54:22
189   2019-01-21 18:34:44
205   2019-01-22 05:26:59
Name: time, dtype: datetime64[ns]

## 11.4 Извлечение признаков времени

In [17]:
log['time'].dt.minute

14     57
29     59
151    54
189    34
205    26
       ..
967    25
971    35
972    35
976    35
991    55
Name: time, Length: 133, dtype: int64

In [18]:
# Task 11.4.1

log['time'].dt.minute.value_counts().head(1)

36    7
Name: time, dtype: int64

In [24]:
# Task 11.4.2
# Используйте оригинальные данные log.csv, столбец time.
# Подсказка: можно использовать value_counts().
# Найдите месяц, который встречался в данных реже всего. Введите ответ в поле ниже.

log['time'].dt.month.value_counts()

3    57
4    51
2    16
1     9
Name: time, dtype: int64

In [20]:
# Task 11.4.3

log['time'].dt.weekday.value_counts()

1    27
6    21
4    21
2    19
3    17
5    16
0    12
Name: time, dtype: int64

In [21]:
log['time'].dt.weekday.value_counts().loc[5] + log['time'].dt.weekday.value_counts().loc[6]

37

# End