# Start

In [ ]:
import warnings; warnings.simplefilter('ignore')

import random

import pandas as pd
import numpy as np
import os
import re

import matplotlib.pyplot as plt
import seaborn as sns
import cufflinks as cf
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

project_dir = r'/content/drive/My Drive/Colab Notebooks/'

# %matplotlib inline

## 11.1 Пропуски

In [ ]:
os.listdir(project_dir + 'data/u3/')

In [ ]:
log = pd.read_csv(project_dir + 'data/u3/' + 'log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']

log.sample(9)

In [ ]:
us = pd.read_csv(project_dir + 'data/u3/' + 'users.csv', sep='\t', encoding='koi8_r')
#users.columns
us.columns = ['user_id','email','geo']

us.sample(9)

In [ ]:
log['time'].isna().sum()

In [ ]:
log['user_id'].isna().sum()

In [ ]:
# log.dropna(axis=1, subset=[log.columns])
log2 = log
log2.dropna(axis=0)

In [ ]:
log.columns

In [ ]:
log2 = log
log2.dropna(axis=1, subset=log2.index)

## 11.2 Дубли

In [ ]:
log2 = log
log2.drop_duplicates(subset=['user_id', 'time'])

## 11.3 Преобразование к DateTime

In [ ]:
log.dropna(inplace=True, subset=['time'])

In [ ]:
log

In [ ]:
log.time = log.time.apply(lambda x: x[1:])
log['time']

In [ ]:
log.time = log.time.apply(lambda x: pd.to_datetime(x))
log['time']

In [ ]:
log['time'].max()

In [ ]:
log['time'].head()

## 11.4 Извлечение признаков времени

In [ ]:
log['time'].dt.minute

In [ ]:
# Task 11.4.1

log['time'].dt.minute.value_counts().head(1)

In [ ]:
# Task 11.4.2
# Используйте оригинальные данные log.csv, столбец time.
# Подсказка: можно использовать value_counts().
# Найдите месяц, который встречался в данных реже всего. Введите ответ в поле ниже.

log['time'].dt.month.value_counts()

In [ ]:
# Task 11.4.3

log['time'].dt.weekday.value_counts()

In [ ]:
log['time'].dt.weekday.value_counts().loc[5] + log['time'].dt.weekday.value_counts().loc[6]

In [ ]:
# Task 11.4.4
def convert_time_in_segment(hour):
    '''  с 0 до 5 часов - ночь, с 6 до 11 - утро, с 12 до 17 - день, с 18 до 23 - вечер.
    '''
    if 0 <= hour <= 5:
        return 'ночь'
    elif 6 <= hour <= 11:
        return 'утро'
    elif 12 <= hour <= 17:
        return 'день'
    elif 18 <= hour <= 23:
        return 'вечер'
    else:
        return None

In [ ]:
for i in range (-1, 25):
    print(i, convert_time_in_segment(i))

In [ ]:
log['segment_time'] = log['time'].dt.hour.apply(lambda x: convert_time_in_segment(x))
log['segment_time']

In [ ]:
log['segment_time'].value_counts().tail(1)

In [ ]:
# Task 11.4.3
log = pd.read_csv(project_dir + 'data/u3/' + 'log.csv', header=None)

log.columns = ['user_id', 'time', 'bet', 'win']

log.dropna(inplace=True)

log.time = log.time.apply(lambda x: x[1:])

log.time = log.time.apply(lambda x: pd.to_datetime(x))

log['hour'] = log['time'].dt.hour

log

## 11.5

In [ ]:
log = pd.read_csv(project_dir + 'data/u3/' + 'log.csv', header=None)

log.columns = ['user_id', 'time', 'bet', 'win']

#log

In [ ]:
# Task 11.5.1

log['bet'] = log['bet'].fillna(0)

log['bet'].value_counts().head(1)

In [ ]:
# Task 11.5.2
#  
log['win'] = log['win'].apply(lambda row: 0 if pd.isnull(row) else row)   
  
log['result'] = log['win'] - log['bet']

len(log['result'][log['result'] < 0])

In [ ]:
# Task 11.5.2
#  

def fillna_win(row):  
    if pd.isnull(row[2]):
        bet = 0
    else:
        bet = row[2]
    if pd.isnull(row[3]):
        win = 0
    else:
        win = row[3]
    if win == 0 and bet > 0:
        return 0 - bet
    else:
        return win
  
# Применяем функцию  
new_win = log.apply(lambda row: fillna_win(row), axis=1)  
  
# Заменяем старый столбец с пропусками на новый без пропусков  
log['win'] = new_win

In [ ]:
log[log['win'] < 0]

In [ ]:
len(log['win'][log['win'] < 0])

In [ ]:
# Task 11.5.1

log['net'] = log['win'] - log['bet']
log

In [ ]:
len(log['net'][log['net'] > 0])

In [ ]:
# Task 11.5.2

int(log[log['net'] > 0]['net'].mean())

In [ ]:
# Task 11.5.3

int(log[log['net'] > 0]['net'].median())

In [ ]:
# Task 11.5.4

log = pd.read_csv(project_dir + 'data/u3/' + 'log.csv', header=None)

log.columns = ['user_id', 'time', 'bet', 'win']

In [ ]:
log.bet.mean()

In [ ]:
log.bet.mean(skipna=False)

In [ ]:
# pd.mean(log['bet'])

log.bet.sum() / log.bet.dropna().shape[0]

In [ ]:
np.mean(log.bet)

In [ ]:
log['bet'].dropna().mean()

## 11.7

In [ ]:
# Task 11.7.1
log = pd.read_csv(project_dir + 'data/u3/' + 'log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']


# log['time'] = log['time'].apply(lambda x: x[1:])
# log.time = log.time.apply(lambda x: pd.to_datetime(x))

log['bet'] = log['bet'].fillna(0)
log['win'] = log['win'].fillna(0)

log['net'] = log['win'] - log['bet']
log

In [ ]:
round(log[log['bet'] > 0].shape[0] / log.shape[0] * 100, 1)

In [ ]:
# Task 11.7.2

bet_mean = log[log['bet']>0]['bet'].mean()
int(bet_mean)

In [ ]:
# Task 11.7.3

net_mean = log[log['bet']>0]['net'].mean()
int(net_mean)

In [ ]:
# Task 11.7.4

lost_net_mean = log[log['net']<0]['net'].mean()
int(lost_net_mean)

In [ ]:
# Task 11.7.5

# всего ставок
all_bet = log[log['bet'] > 0]

all_bet_count = log[log['bet'] > 0].shape[0]

bet_win = all_bet[all_bet['win'] > 0].shape[0]

print('Всего ставок:', all_bet_count )
print('Неудач:', all_bet_count - bet_win )
print('Кол-во выйгрышей:', bet_win , '\nПроцент удачи:', round(bet_win/all_bet_count*100) )

In [ ]:
round(log[(log['bet'] > 0) & (log['win'] > 0)].shape[0] / log[log['bet'] > 0].shape[0] * 100 , 2)

In [ ]:
# Task 11.7.6

log = pd.read_csv(project_dir + 'data/u3/' + 'log.csv', header=None)
log.columns = ['user_id', 'time', 'bet', 'win']

min_bet_amount = log[log.bet.min() == log.bet].bet.count()
min_bet_amount

## 11.8

In [ ]:
# Приведем признак user_id к одному формату в обоих датасетах  
us.user_id = us.user_id.apply(lambda x: x.lower())  

# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  

res = pd.merge(log, us, on='user_id')

In [ ]:
res.win.value_counts()

In [ ]:
# res.groupby('user_id').win.median().median() 
res.groupby('user_id').win.median()

## 11.9 Анализ по пользователям

In [ ]:
# Task 11.9.1
res['win'] = res['win'].fillna(0)
res['bet'] = res['bet'].fillna(0)
res['net'] = res['win'] - res['bet']

res.groupby('user_id').net.sum().median()

In [ ]:
# Task 11.9.2

# все пользователи кто сделал хотя бы одну ставку
# результатом является список 
users_has_bet = res[res.bet > 0].groupby('user_id').bet.count().index

# фильтруем датасет (берем только те строки где пользователь попадает в наш список со ставками), 
# в итоге откидываются пользователи которые ни разу не поставили
# фиольтруем только те случаи, когда ставки не было
# группируем по пользователям и считаем количество раз
# усредняем количество приходов
res.query('user_id in @users_has_bet')[log.bet == 0].groupby('user_id').bet.count().mean()

In [ ]:
# Task 11.9.3

res.time = res.time.apply(lambda x: x[1:])
res.time = res.time.apply(lambda x: pd.to_datetime(x))

res

In [ ]:
df0 = res.query('user_id in @users_has_bet').groupby('user_id').time.min().reset_index()
df0.columns = ['user_id', 'first_time']

df1 = res.query('user_id in @users_has_bet and bet > 0').groupby('user_id').time.min().reset_index()
df1.columns = ['user_id', 'bet_time']

result = pd.merge(df1, df0, on='user_id')
result['delta'] =  result.bet_time - result.first_time

result.delta.mean()

## 11.10

In [ ]:
# Task 11.10.1 - первый вариант

sity = res.groupby('geo').win.sum()
sity.sort_values(ascending=False).head(2).tail(1).index[0]

In [ ]:
# Task 11.10.1 второй вариант

res[res['geo'] != 'Москва'].groupby('geo').win.sum().sort_values().tail(1)

In [ ]:
# Task 11.10.2

res[res.bet > 0].groupby('geo').bet.mean().sort_values()

In [ ]:
# Task 1.10.2

int(res[res.bet > 0].groupby('geo').bet.mean().max() / res[res.bet > 0].groupby('geo').bet.mean().min())

In [ ]:
# Task 1.10.3
import pandas as pd

# log = pd.read_csv(project_dir + 'data/u3/' + 'log.csv', header=None)
# us = pd.read_csv(project_dir + 'data/u3/' + 'users.csv', sep='\t', encoding='koi8_r')

log = pd.read_csv('log.csv', header=None)
us = pd.read_csv('users.csv', sep='\t', encoding='koi8_r')

log.columns = ['user_id', 'time', 'bet', 'win']
us.columns = ['user_id','email','geo']

# Приведем признак user_id к одному формату в обоих датасетах  
us.user_id = us.user_id.apply(lambda x: x.lower())  

# Избавимся от ошибок в user_id  
log = log[log.user_id != '#error']  
log.user_id = log.user_id.str.split(' - ').apply(lambda x: x[1])  

res = pd.merge(log, us, on='user_id')

sample2 = res.groupby('geo').user_id.count()

sample2

# End