Проект 3. О вкусной и здоровой пище

# Start

In [2]:
import warnings; warnings.simplefilter('ignore')

import random
import collections

import pandas as pd
import numpy as np
import os
import re

import datetime
from datetime import datetime, timedelta

import json  
from pprint import pprint
import xml.etree.ElementTree as ET

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import PolynomialFeatures

import matplotlib.pyplot as plt
import seaborn as sns
import cufflinks as cf
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot


%matplotlib inline

## function

In [18]:
def column_content_analysis(column_name_list, column_type='str', more_than = 10):
    '''
        Функция для определения типовых параметров данных, а также определние "замусоренности".
        На вход принимает список столбцов датафрейма
    '''
    # получаем характеристики
    row_count, col_count = ta.shape

    # проходим циклом по списку колонок    
    for column_name in column_name_list:
        print('-'*60)
        print('|\t' , 'Отчет по колонке [', column_name, ']', '\t'*5)
        print('-'*60)
        if column_name not in ta.columns:
            print('|  Внимание!!! Указанная колонка не найдена в датасете. \n')
            break

        col_count = ta[column_name].count()
        col_type = ta[column_name].dtype
        print('|  Тип данных:', col_type) 
        print('|  Заполнено значений:',  col_count, 'из', row_count)
        print('|  Отсутсвующие значения:', row_count - col_count)
        print('|  Полнота данных: ', round(col_count / row_count * 100 ,2), '%', sep='')
        print('|  Количество уникальных значений:', ta[column_name].nunique())

        print('|  Значений, встретившихся в столбце более', more_than,'раз:', 
              (ta[column_name].value_counts() > more_than).sum())

        if col_type == 'object':
            # Количество пробелов в начале в конце строки
            print('|  Количество раз пробелы найдены:')
            find_list = [len(re.findall(r'^\s+\w?', str(x))) for x in ta[column_name]]
            print('|    в начале строки:', sum(find_list))
            
            find_list = [len(re.findall(r'\w?\s+$', str(x))) for x in ta[column_name]]
            print('|    в конце  строки:', sum(find_list))
            
            find_list = [len(re.findall(r'[^\s\d\w]', str(x))) for x in ta[column_name]]
            print('|  Количество найденных специальных символов:', sum(find_list))
        
        if col_type in ['int', 'float']:
            print('|  Медиана: ', ta[column_name].median())
            
            perc25 = ta[column_name].describe().loc['25%']
            perc75 = ta[column_name].describe().loc['75%']
            iqr = perc75 - perc25
            range_left = perc25 - 1.5 * iqr
            range_right = perc75 + 1.5 * iqr
            
            # Границы выбросов
            print('|  IQR: ', iqr, '; границы выбросов: [', round(range_left, 2), '; ', round(range_right,2),']' , sep='')
            out_of_range_left = ta[column_name].loc[ta[column_name] < range_left]
            out_of_range_right = ta[column_name].loc[ta[column_name] > range_right]
            out_of_range = len(out_of_range_left) + len(out_of_range_right)
            if out_of_range > 0:
                print('|  Данные СОДЕРЖАТ выбросы, количество значений: ', out_of_range)
                if len(out_of_range_left) > 0:
                    print('|    Слева  от IQR (уникальные):', out_of_range_left.unique())
                if len(out_of_range_right) > 0:
                    print('|    Справа от IQR (уникальные):', out_of_range_right.unique())
         
        print('|---\n|  Все уникальные значения:', ta[column_name].unique() , '\n')
        

    # end function

In [8]:
project_dir = r'/content/drive/My Drive/Colab Notebooks/data/u3/p3/'
os.listdir(project_dir)

['main_task.csv']

## description

Первоначальная версия датасета состоит из десяти столбцов, содержащих следующую информацию:

`Restaurant_id` — идентификационный номер ресторана / сети ресторанов;

`City` — город, в котором находится ресторан;

`Cuisine Style` — кухня или кухни, к которым можно отнести блюда, предлагаемые в ресторане;

`Ranking` — место, которое занимает данный ресторан среди всех ресторанов своего города;

`Rating` — рейтинг ресторана по данным TripAdvisor (именно это значение должна будет предсказывать модель);

`Price Range` — диапазон цен в ресторане;

`Number of Reviews` — количество отзывов о ресторане;

`Reviews` — данные о двух отзывах, которые отображаются на сайте ресторана;

`URL_TA` — URL страницы ресторана на TripAdvosor;

`ID_TA` — идентификатор ресторана в базе данных TripAdvisor.

In [ ]:
ta = pd.read_csv(project_dir + 'main_task.csv')

In [20]:
# приводим все названия колонок к нижнему регистру
ta.columns = [str.lower(x) for x in ta.columns]

# получаем список всех колонок
all_columns = ta.columns

In [26]:
column_content_analysis(ta.columns)

------------------------------------------------------------
|	 Отчет по колонке [ restaurant_id ]
------------------------------------------------------------
|  Тип данных: object
|  Заполнено значений: 40000 из 40000
|  Отсутсвующие значения: 0
|  Полнота данных: 100.0%
|  Количество уникальных значений: 11909
|  Значений, встретившихся в столбце более 10 раз: 640
|  Количество раз пробелы найдены:
|    в начале строки: 0
|    в конце  строки: 0
|  Количество найденных специальных символов: 0
|---
|  Все уникальные значения: ['id_5569' 'id_1535' 'id_352' ... 'id_7068' 'id_8887' 'id_6057']

------------------------------------------------------------
|	 Отчет по колонке [ city ]
------------------------------------------------------------
|  Тип данных: object
|  Заполнено значений: 40000 из 40000
|  Отсутсвующие значения: 0
|  Полнота данных: 100.0%
|  Количество уникальных значений: 31
|  Значений, встретившихся в столбце более 10 раз: 31
|  Количество раз пробелы найдены:
|    в начале строки: 0
|    в конце  строки: 0
|  Количество найденных специальных символов: 0
|---
|  Все уникальные значения: ['Paris' 'Stockholm' 'London' 'Berlin' 'Munich' 'Oporto' 'Milan'
 'Bratislava' 'Vienna' 'Rome' 'Barcelona' 'Madrid' 'Dublin' 'Brussels'
 'Zurich' 'Warsaw' 'Budapest' 'Copenhagen' 'Amsterdam' 'Lyon' 'Hamburg'
 'Lisbon' 'Prague' 'Oslo' 'Helsinki' 'Edinburgh' 'Geneva' 'Ljubljana'
 'Athens' 'Luxembourg' 'Krakow']

------------------------------------------------------------
|	 Отчет по колонке [ cuisine style ]
------------------------------------------------------------
|  Тип данных: object
|  Заполнено значений: 30717 из 40000
|  Отсутсвующие значения: 9283
|  Полнота данных: 76.79%
|  Количество уникальных значений: 9007
|  Значений, встретившихся в столбце более 10 раз: 336
|  Количество раз пробелы найдены:
|    в начале строки: 0
|    в конце  строки: 0
|  Количество найденных специальных символов: 317576
|---
|  Все уникальные значения: ["['European', 'French', 'International']" nan
 "['Japanese', 'Sushi', 'Asian', 'Grill', 'Vegetarian Friendly', 'Vegan Options', 'Gluten Free Options']"
 ...
 "['Steakhouse', 'Barbecue', 'Australian', 'Argentinean', 'South American']"
 "['French', 'American', 'Cafe', 'Healthy', 'Soups']"
 "['French', 'Contemporary', 'Fusion', 'Gastropub']"]

------------------------------------------------------------
|	 Отчет по колонке [ ranking ]
------------------------------------------------------------
|  Тип данных: float64
|  Заполнено значений: 40000 из 40000
|  Отсутсвующие значения: 0
|  Полнота данных: 100.0%
|  Количество уникальных значений: 11936
|  Значений, встретившихся в столбце более 10 раз: 618
|  Медиана:  2285.0
|  IQR: 4287.0; границы выбросов: [-5457.5; 11690.5]
|  Данные СОДЕРЖАТ выбросы, количество значений:  2450
|    Справа от IQR (уникальные): [13026. 14984. 11955. ... 13454. 14385. 15748.]
|---
|  Все уникальные значения: [5570. 1537.  353. ... 8896. 6058. 6341.]

------------------------------------------------------------
|	 Отчет по колонке [ rating ]
------------------------------------------------------------
|  Тип данных: float64
|  Заполнено значений: 40000 из 40000
|  Отсутсвующие значения: 0
|  Полнота данных: 100.0%
|  Количество уникальных значений: 9
|  Значений, встретившихся в столбце более 10 раз: 9
|  Медиана:  4.0
|  IQR: 1.0; границы выбросов: [2.0; 6.0]
|  Данные СОДЕРЖАТ выбросы, количество значений:  340
|    Слева  от IQR (уникальные): [1.  1.5]
|---
|  Все уникальные значения: [3.5 4.  4.5 5.  3.  2.5 2.  1.  1.5]

------------------------------------------------------------
|	 Отчет по колонке [ price range ]
------------------------------------------------------------
|  Тип данных: object
|  Заполнено значений: 26114 из 40000
|  Отсутсвующие значения: 13886
|  Полнота данных: 65.29%
|  Количество уникальных значений: 3
|  Значений, встретившихся в столбце более 10 раз: 3
|  Количество раз пробелы найдены:
|    в начале строки: 0
|    в конце  строки: 0
|  Количество найденных специальных символов: 122443
|---
|  Все уникальные значения: ['$$ - $$$' nan '$$$$' '$']

------------------------------------------------------------
|	 Отчет по колонке [ number of reviews ]
------------------------------------------------------------
|  Тип данных: float64
|  Заполнено значений: 37457 из 40000
|  Отсутсвующие значения: 2543
|  Полнота данных: 93.64%
|  Количество уникальных значений: 1459
|  Значений, встретившихся в столбце более 10 раз: 368
|  Медиана:  33.0
|  IQR: 106.0; границы выбросов: [-150.0; 274.0]
|  Данные СОДЕРЖАТ выбросы, количество значений:  4348
|    Справа от IQR (уникальные): [ 688.  286.  371. ... 2297.  989. 1162.]
|---
|  Все уникальные значения: [ 194.   10.  688. ... 2297.  989. 1162.]

------------------------------------------------------------
|	 Отчет по колонке [ reviews ]
------------------------------------------------------------
|  Тип данных: object
|  Заполнено значений: 40000 из 40000
|  Отсутсвующие значения: 0
|  Полнота данных: 100.0%
|  Количество уникальных значений: 33516
|  Значений, встретившихся в столбце более 10 раз: 1
|  Количество раз пробелы найдены:
|    в начале строки: 0
|    в конце  строки: 0
|  Количество найденных специальных символов: 764369
|---
|  Все уникальные значения: ["[['Good food at your doorstep', 'A good hotel restaurant'], ['12/31/2017', '11/20/2017']]"
 "[['Unique cuisine', 'Delicious Nepalese food'], ['07/06/2017', '06/19/2016']]"
 "[['Catch up with friends', 'Not exceptional'], ['01/08/2018', '01/06/2018']]"
 ...
 "[['Good by swedish standards', 'A hidden jewel in the middle of Västertorp...'], ['11/03/2016', '04/12/2008']]"
 "[['Underground restaurant', 'Oldest Restaurant in Warsaw'], ['07/11/2017', '06/18/2017']]"
 "[['Average', 'Nice an informal'], ['01/31/2016', '07/04/2012']]"]

------------------------------------------------------------
|	 Отчет по колонке [ url_ta ]
------------------------------------------------------------
|  Тип данных: object
|  Заполнено значений: 40000 из 40000
|  Отсутсвующие значения: 0
|  Полнота данных: 100.0%
|  Количество уникальных значений: 39980
|  Значений, встретившихся в столбце более 10 раз: 0
|  Количество раз пробелы найдены:
|    в начале строки: 0
|    в конце  строки: 0
|  Количество найденных специальных символов: 279998
|---
|  Все уникальные значения: ['/Restaurant_Review-g187147-d1912643-Reviews-R_Yves-Paris_Ile_de_France.html'
 '/Restaurant_Review-g189852-d7992032-Reviews-Buddha_Nepal-Stockholm.html'
 '/Restaurant_Review-g186338-d8632781-Reviews-ROKA_Mayfair-London_England.html'
 ...
 '/Restaurant_Review-g189852-d947615-Reviews-Sushi_Bar_Anu-Stockholm.html'
 '/Restaurant_Review-g274856-d1100838-Reviews-Honoratka_dawna_Oberza_na_Miodowej-Warsaw_Mazovia_Province_Central_Poland.html'
 '/Restaurant_Review-g187849-d1109020-Reviews-Taberna_Vasca-Milan_Lombardy.html']

------------------------------------------------------------
|	 Отчет по колонке [ id_ta ]
------------------------------------------------------------
|  Тип данных: object
|  Заполнено значений: 40000 из 40000
|  Отсутсвующие значения: 0
|  Полнота данных: 100.0%
|  Количество уникальных значений: 39980
|  Значений, встретившихся в столбце более 10 раз: 0
|  Количество раз пробелы найдены:
|    в начале строки: 0
|    в конце  строки: 0
|  Количество найденных специальных символов: 0
|---
|  Все уникальные значения: ['d1912643' 'd7992032' 'd8632781' ... 'd947615' 'd1100838' 'd1109020']

In [25]:
ta.sample(29)

      restaurant_id  ...      id_ta
13351       id_7937  ...  d12500076
37498       id_2296  ...   d8757608
24663       id_1069  ...  d10831212
27258       id_2351  ...    d794370
31546      id_13460  ...  d10750344
8561        id_1477  ...  d10350218
2636         id_734  ...    d809849
14374        id_877  ...    d799627
27103       id_5506  ...    d717344
4269         id_258  ...   d2297611
3140         id_860  ...   d7309230
28597      id_13857  ...    d720691
6363         id_358  ...  d10214929
15756       id_4073  ...  d12632862
21827      id_12480  ...   d7369521
27223       id_2615  ...   d9568746
11042       id_3124  ...  d11633782
16848        id_405  ...  d11860923
30366       id_1450  ...  d10750830
35872       id_2647  ...   d3568644
1760        id_6122  ...   d1421094
32366       id_1413  ...  d10303614
2486        id_1351  ...   d7618648
20565       id_3445  ...   d1010644
11922       id_2892  ...   d6637530
33838      id_12607  ...   d7690640
37415       id_1039  ...  d13195827
17070       id_3256  ...  d12211961
14437       id_2472  ...   d3562812

[29 rows x 10 columns]

In [23]:
ta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   restaurant_id      40000 non-null  object
 1   city               40000 non-null  object
 2   cuisine style      30717 non-null  object
 3   ranking            40000 non-null  float64
 4   rating             40000 non-null  float64
 5   price range        26114 non-null  object
 6   number of reviews  37457 non-null  float64
 7   reviews            40000 non-null  object
 8   url_ta             40000 non-null  object
 9   id_ta              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [ ]:
ta.sample(9)

# END