# Загрузка Pandas и очистка данных

In [40]:
import pandas as pd
import os
import re

In [41]:
project_dir = r'/content/drive/My Drive/Colab Notebooks/data/u3/p3/'
df = pd.read_csv(project_dir + 'main_task.csv')

In [42]:
df.sample(7)

      Restaurant_id  ...      ID_TA
16918       id_3047  ...   d3940702
15079       id_8390  ...  d10594417
32627       id_2273  ...   d8117295
34672       id_1666  ...   d4283122
31606       id_3602  ...   d2418955
28294       id_2489  ...   d5804462
28353       id_1747  ...   d7384354

[7 rows x 10 columns]

In [43]:
df.shape

(40000, 10)

In [44]:
# Ваш код по очистке данных и генерации новых признаков
# При необходимости добавьте ячейки


`Cuisine Style` — кухня или кухни, к которым можно отнести блюда, предлагаемые в ресторане;

`Price Range` — диапазон цен в ресторане;

`Number of Reviews` — количество отзывов о ресторане;

In [45]:
df.columns = [ str(x).replace(' ', '_') for x in df.columns]
df.columns

Index(['Restaurant_id', 'City', 'Cuisine_Style', 'Ranking', 'Rating',
       'Price_Range', 'Number_of_Reviews', 'Reviews', 'URL_TA', 'ID_TA'],
      dtype='object')

In [46]:
for item in df.columns:
    print(item, ': nan-count = ', df[item].isna().sum(), sep='')

Restaurant_id: nan-count = 0
City: nan-count = 0
Cuisine_Style: nan-count = 9283
Ranking: nan-count = 0
Rating: nan-count = 0
Price_Range: nan-count = 13886
Number_of_Reviews: nan-count = 2543
Reviews: nan-count = 0
URL_TA: nan-count = 0
ID_TA: nan-count = 0

In [47]:
df['Cuisine_Style'] = df['Cuisine_Style'].fillna(0)

In [48]:

df['Price_Range'] = df['Price_Range'].fillna(df['Price_Range'].value_counts().index[0])

In [49]:
df['Number_of_Reviews'] = df['Number_of_Reviews'].fillna(df['Number_of_Reviews'].mean())

In [50]:
for item in df.columns:
    print(item, ': nan-count = ', df[item].isna().sum(), sep='')

Restaurant_id: nan-count = 0
City: nan-count = 0
Cuisine_Style: nan-count = 0
Ranking: nan-count = 0
Rating: nan-count = 0
Price_Range: nan-count = 0
Number_of_Reviews: nan-count = 0
Reviews: nan-count = 0
URL_TA: nan-count = 0
ID_TA: nan-count = 0

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine_Style      40000 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price_Range        40000 non-null  object
 6   Number_of_Reviews  40000 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [52]:
def split_str_to_list(incoming):
    if incoming == 0 or len(incoming) == 0:
        return ['None']
    # print(type(incoming))
    return re.findall(r"[^'][\w\s]+[^']", incoming)

# s1 = r"['Japanese', 'Sushi', 'Asian', 'Grill', 'Vegetarian Friendly', 'Vegan Options', 'Gluten Free Options']"
# split_str_to_list(s1)


df['Cuisine_Style'] = df['Cuisine_Style'].apply(lambda x: re.findall(r"[^'][\w\s]+[^']", str(x)))

df['Restaurant_id'] = df['Restaurant_id'].apply(lambda x: int(re.search(r'\d+', str(x)).group(0)))

df['City'] = df['City'].apply(lambda x: str(x).strip())

df['ID_TA'] = df['ID_TA'].apply(lambda x: int(re.search(r'\d+', str(x)).group(0)))

price_range_dict = dict(zip(['$$ - $$$', '$', '$$$$'], [500, 5, 5000]))
df['Price_Range'] = df['Price_Range'].replace(to_replace=price_range_dict)

In [53]:
df.drop(['Reviews', 'URL_TA'], axis = 1, inplace=True)

In [54]:
df.sample(7)

       Restaurant_id        City  ... Number_of_Reviews     ID_TA
28678           7021      Madrid  ...               3.0   5489542
11477          11116       Paris  ...             625.0   1533715
15385           1031  Copenhagen  ...              12.0  11871465
7919             333   Ljubljana  ...               4.0  12402906
1789            5279   Barcelona  ...               6.0   7228324
23336           4708        Rome  ...              57.0    795758
6877             170      London  ...             859.0    718583

[7 rows x 8 columns]

### Обработка датафрейма

In [56]:
df.shape

(40000, 8)

In [57]:
# Усекаем датафрейм, чтобы не переполнить ОЗУ
# df = df.sample(frac=0.25)
# df.shape

In [58]:
# df.explode('Cuisine_Style')

In [76]:
# df.explode('Cuisine_Style')['Cuisine_Style'].value_counts()
pd.get_dummies(df['City'])
# pd.get_dummies(df['City']).shape

       Amsterdam  Athens  Barcelona  Berlin  ...  Stockholm  Vienna  Warsaw  Zurich
0              0       0          0       0  ...          0       0       0       0
1              0       0          0       0  ...          1       0       0       0
2              0       0          0       0  ...          0       0       0       0
3              0       0          0       1  ...          0       0       0       0
4              0       0          0       0  ...          0       0       0       0
...          ...     ...        ...     ...  ...        ...     ...     ...     ...
39995          0       0          0       0  ...          0       0       0       0
39996          0       0          0       0  ...          0       0       0       0
39997          0       0          0       0  ...          1       0       0       0
39998          0       0          0       0  ...          0       0       1       0
39999          0       0          0       0  ...          0       0       0       0

[40000 rows x 31 columns]

In [60]:
dfr = pd.get_dummies(df.explode('Cuisine_Style')['Cuisine_Style'])

In [61]:
dfr.shape

(104916, 126)

In [81]:
df.columns

Index(['Restaurant_id', 'City', 'Cuisine_Style', 'Ranking', 'Rating',
       'Price_Range', 'Number_of_Reviews', 'ID_TA'],
      dtype='object')

In [82]:
df0 = pd.concat([df.drop(['Cuisine_Style', 'City'], axis = 1), 
                 pd.get_dummies(df['City']),
                 dfr], axis = 1)
# 'City', 'Price_Range', 'ID_TA'

In [83]:
# pd.concat([df.drop(['Cuisine_Style', 'City'], axis = 1), 
#            pd.get_dummies(df['City'])], axis = 1)

df0.sample(7)

       Restaurant_id  Ranking  Rating  ...  Wine Bar  Xinjiang  Yunnan
39808            521    522.0     4.0  ...         0         0       0
22418           1263   1264.0     4.0  ...         0         0       0
31657            749    750.0     4.5  ...         0         0       0
37239           6728   6731.0     3.5  ...         0         0       0
24041            800    801.0     4.0  ...         0         0       0
39911           1162   1165.0     4.0  ...         0         0       0
5369            1140   1142.0     4.5  ...         0         0       0

[7 rows x 163 columns]

In [84]:
df0.shape

(104916, 163)

In [ ]:
# for item in df0.columns:
#     print(item, ': nan-count = ', df0[item].isna().sum(), sep='')

In [68]:
# df1 = pd.concat([df0, pd.get_dummies(df0['City'])])

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [86]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df0.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df0['Rating']

In [87]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [88]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [89]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [90]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [91]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактическихmae_
mae_value = metrics.mean_absolute_error(y_test, y_pred)
print('MAE:', round(mae_value, 3))

MAE: 0.09600327881352698