<a href="https://colab.research.google.com/github/13gi/skillfactory_rds/blob/master/u3/your_first_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Загрузка Pandas и очистка данных

In [2]:
import pandas as pd
import os
import re

In [3]:
project_dir = r'/content/drive/My Drive/Colab Notebooks/data/u3/p3/'
df = pd.read_csv(project_dir + 'main_task.csv')

In [4]:
df.sample(7)

      Restaurant_id  ...      ID_TA
21015       id_5562  ...   d8686630
27013       id_2700  ...  d12709573
14789       id_2625  ...   d3324188
31765       id_3283  ...  d10497532
3422        id_7605  ...  d11953102
31561          id_7  ...   d2186282
4239        id_1812  ...   d8500419

[7 rows x 10 columns]

In [5]:
df.shape

(40000, 10)

In [6]:
# Ваш код по очистке данных и генерации новых признаков
# При необходимости добавьте ячейки


`Cuisine Style` — кухня или кухни, к которым можно отнести блюда, предлагаемые в ресторане;

`Price Range` — диапазон цен в ресторане;

`Number of Reviews` — количество отзывов о ресторане;

In [7]:
df.columns = [str(x).replace(' ', '_') for x in df.columns]
df.columns

Index(['Restaurant_id', 'City', 'Cuisine_Style', 'Ranking', 'Rating',
       'Price_Range', 'Number_of_Reviews', 'Reviews', 'URL_TA', 'ID_TA'],
      dtype='object')

In [8]:
for item in df.columns:
    print(item, ': nan-count = ', df[item].isna().sum(), sep='')

Restaurant_id: nan-count = 0
City: nan-count = 0
Cuisine_Style: nan-count = 9283
Ranking: nan-count = 0
Rating: nan-count = 0
Price_Range: nan-count = 13886
Number_of_Reviews: nan-count = 2543
Reviews: nan-count = 0
URL_TA: nan-count = 0
ID_TA: nan-count = 0

In [9]:
df['Cuisine_Style'] = df['Cuisine_Style'].fillna(0)

In [10]:

df['Price_Range'] = df['Price_Range'].fillna(df['Price_Range'].value_counts().index[0])

In [11]:
df['Number_of_Reviews'] = df['Number_of_Reviews'].fillna(df['Number_of_Reviews'].mean())

In [12]:
for item in df.columns:
    print(item, ': nan-count = ', df[item].isna().sum(), sep='')

Restaurant_id: nan-count = 0
City: nan-count = 0
Cuisine_Style: nan-count = 0
Ranking: nan-count = 0
Rating: nan-count = 0
Price_Range: nan-count = 0
Number_of_Reviews: nan-count = 0
Reviews: nan-count = 0
URL_TA: nan-count = 0
ID_TA: nan-count = 0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine_Style      40000 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price_Range        40000 non-null  object
 6   Number_of_Reviews  40000 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [14]:
def split_str_to_list(incoming):
    if incoming == 0 or len(incoming) == 0:
        return ['None']
    # print(type(incoming))
    return re.findall(r"[^'][\w\s]+[^']", incoming)


df['Cuisine_Style'] = df['Cuisine_Style'].apply(lambda x: re.findall(r"[^'][\w\s]+[^']", str(x)))

df['Restaurant_id'] = df['Restaurant_id'].apply(lambda x: int(re.search(r'\d+', str(x)).group(0)))

df['City'] = df['City'].apply(lambda x: str(x).strip())

df['ID_TA'] = df['ID_TA'].apply(lambda x: int(re.search(r'\d+', str(x)).group(0)))

price_range_dict = dict(zip(['$$ - $$$', '$', '$$$$'], [500, 5, 5000]))
df['Price_Range'] = df['Price_Range'].replace(to_replace=price_range_dict)

In [15]:
df.drop(['Reviews', 'URL_TA'], axis = 1, inplace=True)

In [16]:
df.sample(7)

       Restaurant_id      City  ... Number_of_Reviews     ID_TA
16873           1656    Madrid  ...             223.0   2490533
21894           1040    Munich  ...              27.0   7153029
18839            712  Budapest  ...             153.0   6654307
19551           1229      Lyon  ...               4.0  12995597
35552           2121  Budapest  ...               2.0  11688263
17542           7402     Paris  ...              64.0   2348565
37320           3020     Milan  ...             134.0   7032444

[7 rows x 8 columns]

### Обработка датафрейма

In [17]:
df.shape

(40000, 8)

In [18]:
# Усекаем датафрейм, чтобы не переполнить ОЗУ
# df = df.sample(frac=0.25)
# df.shape

In [19]:
# df.explode('Cuisine_Style')

In [20]:
# df.explode('Cuisine_Style')['Cuisine_Style'].value_counts()
pd.get_dummies(df['City'])
# pd.get_dummies(df['City']).shape

       Amsterdam  Athens  Barcelona  Berlin  ...  Stockholm  Vienna  Warsaw  Zurich
0              0       0          0       0  ...          0       0       0       0
1              0       0          0       0  ...          1       0       0       0
2              0       0          0       0  ...          0       0       0       0
3              0       0          0       1  ...          0       0       0       0
4              0       0          0       0  ...          0       0       0       0
...          ...     ...        ...     ...  ...        ...     ...     ...     ...
39995          0       0          0       0  ...          0       0       0       0
39996          0       0          0       0  ...          0       0       0       0
39997          0       0          0       0  ...          1       0       0       0
39998          0       0          0       0  ...          0       0       1       0
39999          0       0          0       0  ...          0       0       0       0

[40000 rows x 31 columns]

In [21]:
%%time
dfr = pd.get_dummies(df.explode('Cuisine_Style')['Cuisine_Style'])

CPU times: user 188 ms, sys: 5.88 ms, total: 194 ms
Wall time: 205 ms

In [22]:
dfr.shape

(104916, 126)

In [23]:
df.columns

Index(['Restaurant_id', 'City', 'Cuisine_Style', 'Ranking', 'Rating',
       'Price_Range', 'Number_of_Reviews', 'ID_TA'],
      dtype='object')

In [24]:
%%time
df0 = pd.concat([df.drop(['Cuisine_Style', 'City'], axis = 1), 
                 pd.get_dummies(df['City']),
                 dfr], axis = 1)

CPU times: user 85.3 ms, sys: 9.76 ms, total: 95 ms
Wall time: 102 ms

In [25]:
# pd.concat([df.drop(['Cuisine_Style', 'City'], axis = 1), 
#            pd.get_dummies(df['City'])], axis = 1)

df0.sample(7)

       Restaurant_id  Ranking  Rating  ...  Wine Bar  Xinjiang  Yunnan
3182             173    174.0     4.5  ...         0         0       0
10932           1473   1475.0     4.5  ...         0         0       0
22035             43     44.0     4.5  ...         0         0       0
2579            2258   2263.0     4.0  ...         0         0       0
26737            335    336.0     4.5  ...         0         0       0
9332            3869   3871.0     3.5  ...         0         0       0
23600           1312   1315.0     4.5  ...         0         0       0

[7 rows x 163 columns]

In [26]:
df0.shape

(104916, 163)

In [27]:
# for item in df0.columns:
#     print(item, ': nan-count = ', df0[item].isna().sum(), sep='')

In [28]:
# df1 = pd.concat([df0, pd.get_dummies(df0['City'])])

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [29]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df0.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df0['Rating']

In [30]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [31]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [32]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [33]:
%%time
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

CPU times: user 37 µs, sys: 7 µs, total: 44 µs
Wall time: 46.7 µs

In [34]:
%%time
# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

CPU times: user 1min 54s, sys: 111 ms, total: 1min 54s
Wall time: 1min 55s

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [35]:
%%time
# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

CPU times: user 792 ms, sys: 985 µs, total: 793 ms
Wall time: 794 ms

In [36]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактическихmae_
mae_value = metrics.mean_absolute_error(y_test, y_pred)
print('MAE:', round(mae_value, 3))

MAE: 0.097