# Загрузка Pandas и очистка данных

In [37]:
import pandas as pd
import os
import re

In [38]:
project_dir = r'/content/drive/My Drive/Colab Notebooks/data/u3/p3/'
df = pd.read_csv(project_dir + 'main_task.csv')

In [39]:
df.sample(7)

      Restaurant_id  ...      ID_TA
39825        id_433  ...  d10124292
359          id_459  ...   d1231908
14130        id_624  ...   d3235958
18318       id_3790  ...  d10006539
30194       id_2351  ...   d1098380
19939       id_5935  ...   d1422391
24715       id_1047  ...   d9763582

[7 rows x 10 columns]

In [40]:
df.shape

(40000, 10)

In [41]:
# Ваш код по очистке данных и генерации новых признаков
# При необходимости добавьте ячейки


`Cuisine Style` — кухня или кухни, к которым можно отнести блюда, предлагаемые в ресторане;

`Price Range` — диапазон цен в ресторане;

`Number of Reviews` — количество отзывов о ресторане;

In [42]:
df.columns = [str(x).replace(' ', '_') for x in df.columns]
df.columns

Index(['Restaurant_id', 'City', 'Cuisine_Style', 'Ranking', 'Rating',
       'Price_Range', 'Number_of_Reviews', 'Reviews', 'URL_TA', 'ID_TA'],
      dtype='object')

In [43]:
for item in df.columns:
    print(item, ': nan-count = ', df[item].isna().sum(), sep='')

Restaurant_id: nan-count = 0
City: nan-count = 0
Cuisine_Style: nan-count = 9283
Ranking: nan-count = 0
Rating: nan-count = 0
Price_Range: nan-count = 13886
Number_of_Reviews: nan-count = 2543
Reviews: nan-count = 0
URL_TA: nan-count = 0
ID_TA: nan-count = 0

In [44]:
df['Cuisine_Style'] = df['Cuisine_Style'].fillna(0)

In [45]:

df['Price_Range'] = df['Price_Range'].fillna(df['Price_Range'].value_counts().index[0])

In [46]:
df['Number_of_Reviews'] = df['Number_of_Reviews'].fillna(df['Number_of_Reviews'].mean())

In [47]:
for item in df.columns:
    print(item, ': nan-count = ', df[item].isna().sum(), sep='')

Restaurant_id: nan-count = 0
City: nan-count = 0
Cuisine_Style: nan-count = 0
Ranking: nan-count = 0
Rating: nan-count = 0
Price_Range: nan-count = 0
Number_of_Reviews: nan-count = 0
Reviews: nan-count = 0
URL_TA: nan-count = 0
ID_TA: nan-count = 0

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine_Style      40000 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price_Range        40000 non-null  object
 6   Number_of_Reviews  40000 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

In [49]:
def split_str_to_list(incoming):
    if incoming == 0 or len(incoming) == 0:
        return ['None']
    # print(type(incoming))
    return re.findall(r"[^'][\w\s]+[^']", incoming)


df['Cuisine_Style'] = df['Cuisine_Style'].apply(lambda x: re.findall(r"[^'][\w\s]+[^']", str(x)))

df['Restaurant_id'] = df['Restaurant_id'].apply(lambda x: int(re.search(r'\d+', str(x)).group(0)))

df['City'] = df['City'].apply(lambda x: str(x).strip())

df['ID_TA'] = df['ID_TA'].apply(lambda x: int(re.search(r'\d+', str(x)).group(0)))

price_range_dict = dict(zip(['$$ - $$$', '$', '$$$$'], [500, 5, 5000]))
df['Price_Range'] = df['Price_Range'].replace(to_replace=price_range_dict)

In [50]:
df.drop(['Reviews', 'URL_TA'], axis = 1, inplace=True)

In [51]:
df.sample(7)

       Restaurant_id       City  ... Number_of_Reviews     ID_TA
17226           1434      Paris  ...              88.0   9838856
20201           1244     Geneva  ...              33.0   2207111
28132            654     Zurich  ...              61.0   5499221
38887           2198     Berlin  ...              11.0   9554512
34347           1849  Barcelona  ...              67.0   4557908
29427           1975     Vienna  ...               3.0  12234138
21114            134  Amsterdam  ...             366.0   1930393

[7 rows x 8 columns]

### Обработка датафрейма

In [52]:
df.shape

(40000, 8)

In [53]:
# Усекаем датафрейм, чтобы не переполнить ОЗУ
# df = df.sample(frac=0.25)
# df.shape

In [54]:
# df.explode('Cuisine_Style')

In [55]:
# df.explode('Cuisine_Style')['Cuisine_Style'].value_counts()
pd.get_dummies(df['City'])
# pd.get_dummies(df['City']).shape

       Amsterdam  Athens  Barcelona  Berlin  ...  Stockholm  Vienna  Warsaw  Zurich
0              0       0          0       0  ...          0       0       0       0
1              0       0          0       0  ...          1       0       0       0
2              0       0          0       0  ...          0       0       0       0
3              0       0          0       1  ...          0       0       0       0
4              0       0          0       0  ...          0       0       0       0
...          ...     ...        ...     ...  ...        ...     ...     ...     ...
39995          0       0          0       0  ...          0       0       0       0
39996          0       0          0       0  ...          0       0       0       0
39997          0       0          0       0  ...          1       0       0       0
39998          0       0          0       0  ...          0       0       1       0
39999          0       0          0       0  ...          0       0       0       0

[40000 rows x 31 columns]

In [56]:
%%time
dfr = pd.get_dummies(df.explode('Cuisine_Style')['Cuisine_Style'])

CPU times: user 214 ms, sys: 1.97 ms, total: 216 ms
Wall time: 219 ms

In [57]:
dfr.shape

(104916, 126)

In [58]:
df.columns

Index(['Restaurant_id', 'City', 'Cuisine_Style', 'Ranking', 'Rating',
       'Price_Range', 'Number_of_Reviews', 'ID_TA'],
      dtype='object')

In [59]:
%%time
df0 = pd.concat([df.drop(['Cuisine_Style', 'City'], axis = 1), 
                 pd.get_dummies(df['City']),
                 dfr], axis = 1)

CPU times: user 115 ms, sys: 3 ms, total: 118 ms
Wall time: 122 ms

In [60]:
# pd.concat([df.drop(['Cuisine_Style', 'City'], axis = 1), 
#            pd.get_dummies(df['City'])], axis = 1)

df0.sample(7)

       Restaurant_id  Ranking  Rating  ...  Wine Bar  Xinjiang  Yunnan
4335            4232   4233.0     4.0  ...         0         0       0
36544            647    648.0     4.5  ...         0         0       0
1422            1184   1195.0     4.0  ...         0         0       0
26185             68     69.0     4.0  ...         0         0       0
38220           1479   1480.0     4.5  ...         0         0       0
38801           1655   1656.0     4.0  ...         0         0       0
22168           4895   4897.0     4.0  ...         0         0       0

[7 rows x 163 columns]

In [61]:
df0.shape

(104916, 163)

In [67]:
%%time
df0.isna().sum()

# CPU times: user 33.8 ms, sys: 982 µs, total: 34.8 ms

CPU times: user 33.8 ms, sys: 982 µs, total: 34.8 ms
Wall time: 38.8 ms

Restaurant_id        0
Ranking              0
Rating               0
Price_Range          0
Number_of_Reviews    0
                    ..
Vietnamese           0
Welsh                0
Wine Bar             0
Xinjiang             0
Yunnan               0
Length: 163, dtype: int64

In [63]:
%%time

for item in df0.columns:
    print(item, ': nan-count = ', df0[item].isna().sum(), sep='')
    #

# CPU times: user 189 ms, sys: 33.8 ms, total: 223 ms
# Wall time: 169 ms

Restaurant_id: nan-count = 0
Ranking: nan-count = 0
Rating: nan-count = 0
Price_Range: nan-count = 0
Number_of_Reviews: nan-count = 0
ID_TA: nan-count = 0
Amsterdam: nan-count = 0
Athens: nan-count = 0
Barcelona: nan-count = 0
Berlin: nan-count = 0
Bratislava: nan-count = 0
Brussels: nan-count = 0
Budapest: nan-count = 0
Copenhagen: nan-count = 0
Dublin: nan-count = 0
Edinburgh: nan-count = 0
Geneva: nan-count = 0
Hamburg: nan-count = 0
Helsinki: nan-count = 0
Krakow: nan-count = 0
Lisbon: nan-count = 0
Ljubljana: nan-count = 0
London: nan-count = 0
Luxembourg: nan-count = 0
Lyon: nan-count = 0
Madrid: nan-count = 0
Milan: nan-count = 0
Munich: nan-count = 0
Oporto: nan-count = 0
Oslo: nan-count = 0
Paris: nan-count = 0
Prague: nan-count = 0
Rome: nan-count = 0
Stockholm: nan-count = 0
Vienna: nan-count = 0
Warsaw: nan-count = 0
Zurich: nan-count = 0
 Creole: nan-count = 0
Afghani: nan-count = 0
African: nan-count = 0
Albanian: nan-count = 0
American: nan-count = 0
Arabic: nan-count = 0
Argentinean: nan-count = 0
Armenian: nan-count = 0
Asian: nan-count = 0
Australian: nan-count = 0
Austrian: nan-count = 0
Azerbaijani: nan-count = 0
Balti: nan-count = 0
Bangladeshi: nan-count = 0
Bar: nan-count = 0
Barbecue: nan-count = 0
Belgian: nan-count = 0
Brazilian: nan-count = 0
Brew Pub: nan-count = 0
British: nan-count = 0
Burmese: nan-count = 0
Cafe: nan-count = 0
Cajun &: nan-count = 0
Cambodian: nan-count = 0
Canadian: nan-count = 0
Caribbean: nan-count = 0
Caucasian: nan-count = 0
Central American: nan-count = 0
Central Asian: nan-count = 0
Central European: nan-count = 0
Chilean: nan-count = 0
Chinese: nan-count = 0
Colombian: nan-count = 0
Contemporary: nan-count = 0
Croatian: nan-count = 0
Cuban: nan-count = 0
Czech: nan-count = 0
Danish: nan-count = 0
Delicatessen: nan-count = 0
Diner: nan-count = 0
Dutch: nan-count = 0
Eastern European: nan-count = 0
Ecuadorean: nan-count = 0
Egyptian: nan-count = 0
Ethiopian: nan-count = 0
European: nan-count = 0
Fast Food: nan-count = 0
Filipino: nan-count = 0
French: nan-count = 0
Fujian: nan-count = 0
Fusion: nan-count = 0
Gastropub: nan-count = 0
Georgian: nan-count = 0
German: nan-count = 0
Gluten Free Options: nan-count = 0
Greek: nan-count = 0
Grill: nan-count = 0
Halal: nan-count = 0
Hawaiian: nan-count = 0
Healthy: nan-count = 0
Hungarian: nan-count = 0
Indian: nan-count = 0
Indonesian: nan-count = 0
International: nan-count = 0
Irish: nan-count = 0
Israeli: nan-count = 0
Italian: nan-count = 0
Jamaican: nan-count = 0
Japanese: nan-count = 0
Korean: nan-count = 0
Kosher: nan-count = 0
Latin: nan-count = 0
Latvian: nan-count = 0
Lebanese: nan-count = 0
Malaysian: nan-count = 0
Mediterranean: nan-count = 0
Mexican: nan-count = 0
Middle Eastern: nan-count = 0
Minority Chinese: nan-count = 0
Mongolian: nan-count = 0
Moroccan: nan-count = 0
Native American: nan-count = 0
Nepali: nan-count = 0
New Zealand: nan-count = 0
Norwegian: nan-count = 0
Pakistani: nan-count = 0
Persian: nan-count = 0
Peruvian: nan-count = 0
Pizza: nan-count = 0
Polish: nan-count = 0
Polynesian: nan-count = 0
Portuguese: nan-count = 0
Pub: nan-count = 0
Romanian: nan-count = 0
Russian: nan-count = 0
Salvadoran: nan-count = 0
Scandinavian: nan-count = 0
Scottish: nan-count = 0
Seafood: nan-count = 0
Singaporean: nan-count = 0
Slovenian: nan-count = 0
Soups: nan-count = 0
South American: nan-count = 0
Southwestern: nan-count = 0
Spanish: nan-count = 0
Sri Lankan: nan-count = 0
Steakhouse: nan-count = 0
Street Food: nan-count = 0
Sushi: nan-count = 0
Swedish: nan-count = 0
Swiss: nan-count = 0
Taiwanese: nan-count = 0
Thai: nan-count = 0
Tibetan: nan-count = 0
Tunisian: nan-count = 0
Turkish: nan-count = 0
Ukrainian: nan-count = 0
Uzbek: nan-count = 0
Vegan Options: nan-count = 0
Vegetarian Friendly: nan-count = 0
Venezuelan: nan-count = 0
Vietnamese: nan-count = 0
Welsh: nan-count = 0
Wine Bar: nan-count = 0
Xinjiang: nan-count = 0
Yunnan: nan-count = 0
CPU times: user 189 ms, sys: 33.8 ms, total: 223 ms
Wall time: 169 ms

In [ ]:
# df1 = pd.concat([df0, pd.get_dummies(df0['City'])])

# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели

In [ ]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df0.drop(['Restaurant_id', 'Rating'], axis = 1)
y = df0['Rating']

In [ ]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [ ]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

# Создаём, обучаем и тестируем модель

In [ ]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [ ]:
%%time
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

CPU times: user 37 µs, sys: 7 µs, total: 44 µs
Wall time: 46.7 µs

In [ ]:
%%time
# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

CPU times: user 1min 54s, sys: 111 ms, total: 1min 54s
Wall time: 1min 55s

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
%%time
# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

CPU times: user 792 ms, sys: 985 µs, total: 793 ms
Wall time: 794 ms

In [ ]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактическихmae_
mae_value = metrics.mean_absolute_error(y_test, y_pred)
print('MAE:', round(mae_value, 3))

MAE: 0.097